body {
  width: 100%;
  height: 100%;
  background: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titulo {
  color: whitesmoke;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 420px;
  width: 350px;
  padding: 10pxx;
  border-radius: 100px;
  padding: 10px;
}

.titulo__principal {
  text-align: center;
  font-size: 45px;
  -webkit-text-decoration: double;
          text-decoration: double;
}

.titulo__sub {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

#FOTOEVENTO {
  height: 400px;
  width: 60%;
  margin-left: 250px;
  border-radius: 15px;
}

.contenedor {
  margin-left: 450px;
  display: block;
  width: 350px;
}

.EJEMPLO {
  color: whitesmoke;
  margin-left: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Space Grotesk', sans-serif;
}

.texto {
  color: whitesmoke;
  text-align: center;
}

#pieDeFooter {
  width: 98%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: grey;
}

.FORMULARIO {
  color: whitesmoke;
  font-family: 'Space Grotesk', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form {
  width: 650px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  padding: 20px;
  margin: 300px;
  margin-top: 100px;
  border-radius: 5px;
}

.frase-contactos {
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  color: whitesmoke;
  padding: 30px;
  height: auto;
}

.contenedor2 {
  width: 50%;
  display: -ms-grid;
  display: grid;
  grid-row: auto;
  max-width: 1000px;
  grid-row: auto;
}

.tarjeta {
  width: 100%;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  background-color: aliceblue;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.tarjeta:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-3%);
          transform: translate(-3%);
}

.tarjeta img {
  width: 50%;
  height: 300px;
}

.tarjeta .contenido2 {
  padding: 15px;
  text-align: center;
}

.tarjeta .contenido2 p {
  line-height: 1.5;
  color: #000000;
  font-family: 'Space Grotesk', sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto 200px;
      grid-template-rows: auto auto 200px;
      grid-template-areas: "header"
 "main"
 "footer";
}

.contenedor3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  grid-row: 1;
  grid-column: 1;
  grid-area: header;
  width: 100%;
  color: whitesmoke;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 420px;
  width: 350px;
  padding: 10pxx;
  border-radius: 100px;
  padding: 10px;
}

.main {
  grid-row: 2;
  grid-column: 1;
  grid-area: main;
}

.PieDeFooter {
  grid-row: 3;
  grid-column: 1;
  grid-area: footer;
}

@media (max-widht: 400px) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto 200px;
        grid-template-rows: auto auto 200px;
        grid-template-areas: "header" "header"
 "main" "main" 
 "footer"  "footer";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.PieDeFooter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 20px 200px 20px 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 5px solid green;
  background: #0a1a2a;
  color: skyblue;
  -webkit-animation-name: desplazarse;
          animation-name: desplazarse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes desplazarse {
  from {
    position: relative;
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes desplazarse {
  from {
    position: relative;
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.card {
  margin: 20px;
  width: 200px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


/*# sourceMappingURL=style.css.map */